<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
        <h1>Login List</h1>
        <ul>
            {% for login in data %}
                <li>ID: {{ login.id }} -
                  Name: {{ login.name }}</li>
            {% endfor %}
        </ul>

    <div>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
